/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#33475b ;
}

/* TEXT */

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
}

h2{
    margin: 15px 0;
    font-size: 2em;
}

h3{
    font-size: 24px;
    margin-bottom: 15px;
}

h4{
    text-transform: uppercase;
    font-size: 18px;
    margin:30px 0;
}

h5{
    font-size: 12px;
}

p{
    font-size: 14px;
    line-height: 2em;
    margin: 20px 0;
}

/* HELP */

.Help{
    position: fixed;
    bottom: 2%;
    right: 5%;
}

.Help-message.dropdown-content{
    min-width: 250px;
    padding: 10px;
    border-radius: 10px ;
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.logo-help{
    width: 100%;
    padding: 5px;
    background-color: rgba(169, 209, 248, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.Help:hover .Help-message{
    display: block;
    
}



/* UTILITIES (classi di riutilizzo) */

/* Layout */

.Container{
    width: 1200px;
    margin: 0 auto;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
    /* Container small */
}

.w-50{
    width: 50%;
    /* Container medium */
}

.w-70{
    width: 70%;
    /* Container large */
}

.w-80{
    width: 80%;
    margin: 0 auto;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}


.align-left{
    text-align: left;
}
.bold{
    font-weight: 600;
}




/* DROPDOWN */

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f4f9fd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: #ddd;
    text-decoration: underline;
}

.drop:hover .dropdown-content{
    display: block;
    line-height: 1;
    text-align: left;
}

.drop:hover a.lang{
    color: #ff7a59;
}

/* POSITION */

.position{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.relative{
    position: relative;
}



.Clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.Float-left{
    float: left;
}

.Float-right{
    float: right;
}

/* Icons */

i.search{
    margin-right: 10px;
    color: #20aec4;
}

i.icons{
    margin:2px 10px;
}

i.check{
    color: #ff7a59;
}

i.big{
    font-size: 28px;
}

.padding{
    padding: 50px 0;
}

.icone{
    font-size: 22px;
    display: inline-block;
    padding: 5px;
    background-color: #ccc;line-height: 0;
    margin-left: 0;
}

/* Immagini */

.img{
    width: 40%;
    margin-bottom: 15px;
}

.img.small{
    width: 30%;
}

.img.big{
    width: 50%;
}

/* Liste */

.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child{
    margin-right: 0;
}

.menu li{
    list-style: none;
    /* margin-right: 20px; */
    text-align: left;
    line-height: 1;
}


.menu-info li{
    list-style: none;
    text-align: left;
}

.menu-vertical li{
    display: block;
    line-height: 1;
}

.menu-vertical a{
    padding: 0;
    margin: 0;

}


/* Buttons */

.buttons{
    display: inline-block;
    min-width: 50px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.buttons.btn-orange{
    color: #fff;
    background-color: #ff7a59;
}

.buttons.support{
    color: #32495b;
    background-color: #dadee0;
    line-height:2;
}

.buttons.support.hm{
    border-radius: 10px;
    line-height: 1;
}

.btn-help{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 110%;
    border-top-right-radius: 110%;
    color: #fff;
    background-color: #ff7a59;
}

.big-buttons{
    padding: 20px;
}


.border{
    display: inline-block;
    width: 150px;
    padding-left: 10px;
    color: #33475b;
    line-height: 1;
    border-left: 1px solid  #33475b;
}

.buttons.radius-50{
    border-radius: 50%;
}


/* MAIN HEADER */
.main-header{
    line-height: 80px;
    font-size: 14px;
}

.main-header a{
    text-decoration: none;
    color: #33475b;
}

.main-header a.buttons:not(a.buttons.btn-orange){
    color: #ff7a59;
}

.main-header a.buttons{
    line-height: 1;
    /* fa riferimento alla dimensione del font */
}

/* Top-header*/

.main-header .Top{
    border-bottom: 1px solid #33475b;
    background-color:#f4f9fd;
}

/* Bottom-header */

.main-header .Bottom{
    background-color: #fff;
}

.main-header .Logo img{
    vertical-align: middle;
}

.main-header .Bottom a:hover{
    text-decoration: underline;
}

.main-header .Bottom a.no-dec:hover{
    text-decoration: none;

}

/* SUB-TITLE */

.sub-list:hover .sub-list-content {display: block;}

.sub-list {
  position: relative;
  display: inline-block;
}

.sub-list-content{
  display: none;
  position: absolute;
  background-color: #fff;
  width: 900px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translate(-50%, 0);
  border-radius: 5px;
}

.sub-list-content.little{
    width: 550px;
    padding: 15px;
}

.sub-list-content a{
  padding: 10px;
  display: block;
  line-height: 1;
}

.sub-list-content.little a{
    padding: 10px;
}

.sub-list-content.little a:hover{
    text-decoration: underline;
}


/* Sub-list-left */
.sub-list-left{
    height: 400px;
    position: relative;
}

.Title{
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title-text{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-transform: none;
}

.sub-list-right{
    padding: 10px;
    border-left: 1px solid #ccc;
}

/* Sub-list-right top */

.sub-list-right .Top{
    padding: 5px;
    line-height: 1;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.hov-shadow:hover{
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
}


.sub-list-right .Top h4{
    margin: 15px 0;
    text-transform: none;
}

span.link-sub{
    color: #20aec4;
    margin-left: 2px;
}

/* Sub-list-right-bottom */

.sub-list-right .bottom{
    padding: 0;
}

.row .box{
    padding: 5px;
    width: calc(100%/2 - 30px);
    margin: 10px 15px;
    background: #fff;
}
.row .box h4,
.row .box p{
    text-transform: none;
    margin:10px;
    line-height: 1;
}

/* Sub-list-foot */

.sub-foot{
    padding: 15px;
    background:#eaf0f6;
    border-top: 1px solid #ccc;
}
.sub-foot h4{
    display: inline-block;
    margin: 10px;
    line-height: 1;
    text-transform: none;
}
.sub-foot a{
    padding: 0;
}


/* MAIN CONTENT */

/* Jumbotron */

.Jumbotron{
    height: 500px;
    background-color: #fff3ee;
    background-image: url(./img-hubspot/jumbotron.png);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 100% 16%;
    position: relative;
}

.Jumbotron .Container{
    height: 100%;
    position: relative;
}

.Jumbotron .Container .Jumbotron-txt h1{
    padding: 15px 0;
    font-size: 3em;
}

.Jumbotron .Container .Jumbotron-txt p{
    margin: 20px 0;
}

.banner{
    height: 80px;
    background-image: linear-gradient(#afebe4, #00b69d);
    background-color:#afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/* HERO */

/* Hero-top */

.Hero{
    background-color: #f5f8fa;
    padding-bottom: 100px;
}

.Hero .Hero-Top{
    margin: 0 auto;;
}

/* Hero Bottom */

/* Horizontal-box */

.box-uno{
    margin-bottom: 30px;
}

.box-uno .box{
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px 1px #cfcfcf;
    border-radius: 5px;
}

.box-uno .Col-left hr{
    position: absolute;
    margin-left: 40%;
    background-color: #33475b;

}

/* Vertical-box */

.box-due .Col{
    width:32%;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px 1px #cfcfcf;
    border-radius: 5px;
}

.box-due .Col:nth-child(2){
    margin:0 2%;
}

.Col .Top-col{
    width: 100%;
    height: 180px;
}

.Descriz a{
    margin-top: 30px;
}

/* COMMUNITY */

.Community{
    color: #fff;
    background-image: linear-gradient(45deg,#00a6ba,#00bda5);
}

/* Community-table */


.row{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.row .table{
    width: 25%;
    padding: 20px;
    border-right: 1px solid #fff;
}

.row .table h2{
    font-size: 34px;
    font-weight: 600;
}

.row .table:last-child{
    border-right: none;
}

.info-table .row:nth-child(2){
    border-bottom: none;
}

/* Partners */
.sponsor .Container .w-20{
    padding-left: 20px;
}

.sponsor .sponsor-img img{
    max-width:14%;
    margin: 2% 2%;
    margin-right: 2%;
    vertical-align: middle;
}

/* To Start */
.Start .Start-content{
    margin: 0;
}

.Start .Start-content a{
    margin: 30px 0;
}

.Start .Start-content p:last-child{
    font-size: 12px;
}

/* FOOTER */
footer{
    color: #fff;
    background-color: #32495b;
    line-height: 3;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer .list{
    /* padding: 20px; */
    margin-bottom: 20px;
}


/* Top footer */
footer .list .object{
    width: 23%;
    margin-right: 2%;
}

.object .social-icons{
    margin-top: 15px;
}

.object .social-icons i:hover{
    color: #ff7a59;
}

.object .menu-info a.buttons{
    border-color: #fff;
}

footer .object i{
    margin: 0 15px;
}

/* Bottom Footer */
.Copyright{
    position: relative;
}

.Language ul{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.Language a:hover{
    text-decoration: underline;
}

.Copyright p{
    line-height: 0em;
    margin:0;
}

.Copyright a{
    margin-right: 15px;
}

/* Go-back to home */
.Go-back-to-Home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



































