/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
}


/* UTILITIES (classi di riutilizzo) */

/* Layout */

.Container{
    width: 1200px;
    margin: 0 auto;
}

.w-50{
    width: 50%;
    /* Container medium */
}

.w-30{
    width: 30%;
    /* Container small */
}

.w-70{
    width: 70%;
    text-align: right;
    /* Container large */
}


.Clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.Float-left{
    float: left;
}

.w-50{
    width: 50%;
}


/* MAIN HEADER */

/* TOP-HEADER */

.main-header .Top{
    background-color: #165e8d;
}

.main-header .Bottom{
    background-color: #ccc;
}

